.coords__box {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.coords__item {
		&-input {
			min-width: 200px;
		}
	}

	.coords__delimiter {
		&:before {
			content: '\002A2F';
			font-size: 2em;
		}
	}
}

.generate__box {
	margin-top: 15px;

	.generate__button {
		width: 100%;
	}
}