@cell-bg-color: #e9e9e9;
@cell-hover-bg-color: #bfbfbf;
@cell-filled-bg-color: #bfbfbf;

.workspace {
	& &__block-size-select {
		width: 100%;
	}

	& &__box {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;
		overflow-x: auto;

		.workspace__rows {
			display: block;
			margin: 15px 0;

			.workspace__row {
				display: flex;

				&:first-child {
					margin-top: 0 !important;
				}

				.workspace__cell {
					position: relative;
					background-color: @cell-bg-color;
					user-select: none;
					cursor: pointer;
					transition: background-color .2s;
					display: flex;
					align-items: center;
					justify-content: center;

					.workspace__cell-top, .workspace__cell-bottom {
						position: absolute;
						z-index: 1;
						width: 0;
					}

					.workspace__cell-top {
						bottom: 100%;
						border-bottom-color: @cell-bg-color;
						border-bottom-style: solid;
						transition: border-bottom-color .2s;
					}

					.workspace__cell-bottom {
						top: 100%;
						border-top-color: @cell-bg-color;
						border-top-style: solid;
						transition: border-top-color .2s;
					}

					&:hover {
						background-color: @cell-hover-bg-color;
						color: #fff;

						.workspace__cell-top {
							border-bottom-color: @cell-hover-bg-color;
						}

						.workspace__cell-bottom {
							border-top-color: @cell-hover-bg-color;
						}
					}

					&.workspace__cell--filled {
						background-color: @cell-filled-bg-color;
						color: #fff;

						.workspace__cell-top {
							border-bottom-color: @cell-filled-bg-color;
						}

						.workspace__cell-bottom {
							border-top-color: @cell-filled-bg-color;
						}
					}
				}
			}
		}
	}

	& &__info-box {
		margin-top: 15px;

		.workspace__info-left-block {
			text-align: right;
		}
	}

	& &__actions-box {
		.workspace__action-button {
			width: 100%;
		}
	}

	& &__auto-box {
		margin-top: 15px;

		.workspace__auto-slider {
			margin-top: 15px;
		}

		.workspace__auto-button {
			margin-top: 15px;
			width: 100%;
		}
	}

	& &__history-box {
		margin-top: 15px;
	}
}