html, body, * {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.root {
	margin: 0 auto;
	padding: 30px 0;
	width: 60%;
	min-width: 400px;
	max-width: 900px;
	display: flex;
	justify-content: center;

	@media screen and (max-width: 463px) {
		width: auto;
		min-width: 0;
		margin: 30px 30px;
	}

	.paper {
		padding: 15px 20px;
		width: 100%;
		height: 100%;
	}

	.startup__button {
		width: 100%;
		margin-top: 10px;
	}
}